:root {
  --cor-primaria: #38a3a5;
  --cor-nav: #22577a;
  --cor-nav-clara: #2b6d99;
  --cor-2: #38a3a5;
  --cor-3: #57cc99;
  --cor-4: #80ed99;
  --cor-5: #c7f9cc;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

/* Header e navegação */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #22577a;
  background: linear-gradient(
    45deg,
    var(--cor-nav) 0%,
    var(--cor-nav-clara) 100%
  );
  padding: 0.5rem 1rem;
  color: white;
}

nav ul {
  display: flex;
  list-style: none;
  gap: 2rem;
}

nav a {
  color: inherit;
  text-decoration: none;
  transition: color 0.15s;
  font-weight: 500;

  &:hover {
    color: var(--cor-5);
  }

  &.active {
    text-decoration: underline;
  }
}

.nav-esquerda {
  display: inline-flex;
  align-items: center;
  gap: 1rem;
}

.nav-toggle {
  appearance: none;
  background: transparent;
  color: inherit;
  outline: none;
  display: inline-block;
  width: 2rem;
  height: 2rem;
  border: none;
  overflow: hidden;
  border-radius: 50%;
  transition: background-color 0.15s;
  cursor: pointer;

  &:hover {
    background-color: var(--cor-nav-clara);
  }
}

/* Hero */
.hero {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  min-height: 60vh;
  text-align: center;
  overflow: hidden;
  background: #000;
}

.hero::before {
  content: "";
  position: absolute;
  inset: 0;
  background-image: url(imagem/bg-hero.jpg);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  opacity: 0.6;
  z-index: 0;
  pointer-events: none;
}

.hero-content {
  z-index: 10;
}

.hero h1 {
  font-size: 4rem;
  letter-spacing: 0.1ch;
}

.hero p {
  font-size: 1rem;
}
